export OPENLANE_ROOT=$(direnv_layout_dir)/ttsetup/openlane
export PDK_ROOT=$(direnv_layout_dir)/ttsetup/pdk
export PDK=sky130A
export OPENLANE_TAG=2024.04.22
export OPENLANE_IMAGE_NAME=efabless/openlane:2024.04.22
source $(direnv_layout_dir)/ttsetup/bin/activate
